body {
  box-sizing: border-box;
  font-family: 'Teko', sans-serif;
  min-height: 100vh;
  height: 100%;
  background: -webkit-linear-gradient(to right, #111111, #202020, #0f0f0f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #111111, #252323, #0f0f0f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
html{
  // scroll-behavior: smooth;
}

.container {
  padding: 2rem 5rem;
  max-width: 1440px;
  margin: 2rem auto;
  @media screen and (max-width: 1024px) {
    padding: 2rem;
    margin: 1rem;
  }
  @media screen and (max-width: 340px) {
    padding: 1rem;
  }
}

.style {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

h1.name {font-size: 5rem;}

* :not(path){
  margin: 0;
  padding: 0;
  color: #fff;
}


p {
  font-weight: 300;
}

@media screen and (max-width: 501px) {
  .container {
    &.skillset, &.projects {
        margin: 0;
    }
  }
  h1.name {font-size: 3.5rem;word-break: break-all}
}

@import 'mainMenu';
@import 'aboutMe';
@import 'skillset';
@import 'projects';
@import 'contact'