.projects {
    .active-tags {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        color: black;
    }
    input, button {
        position: relative;
        color: black;
    }
    .projectContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
        margin-bottom: 4rem;
        .project {
            transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
            transition: 0.3s ease all;
            border-radius: 2rem;
            &:hover {
                transform: perspective(800px) rotateY(0deg) translateY(-5px)
                rotateX(0deg) scale(1);
                opacity: 1;
            }
            .projectDesc {
                height: 100%;
                overflow: hidden;
                display: block;
                text-decoration: none;
                transition: .2s ease-out;
                &:hover {
                    border: 1px solid rgb(255, 255, 255);
                    
                }
                .description {
                    padding: 1rem;
                    h2 {
                        font-size: 2rem;
                    }
                    p{
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.2rem;
                    }
                }
                .photo {
                    height: 350px;
                    .img-container {
                        width: 100%;
                        height: 100%;
                        img {
                            object-fit: cover;
                            max-height: 100%;
                            width: 100%;
                            min-height: 100%;
                        }
                    }
                }
                .tags {
                    padding: 0 1rem 1rem;
                    font-family: "Roboto", sans-serif;
                    p {
                        font-size: .85rem;

                    }
                    .my-project {
                        img {
                            filter: invert(77%) sepia(74%) saturate(962%) hue-rotate(358deg) brightness(103%) contrast(101%) !important;
                        }
                    }
                    img {
                        width: 12px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1024px){
    .projects {
        .projectContainer {
            grid-template-columns: 1fr 1fr;
            .project {
                .projectDesc {
                   
                    .description {
                        
                        h2 {
                            
                        }
                        p{
                            
                        }
                    }
                    .photo {
                        
                        .link {
                            
                            img {
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .projects {
        .projectContainer {
            grid-template-columns: 100%;
            .project {
                height: auto;
                .projectDesc {
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 501px){
    .photo {
        height: 300px;
    }
}

@media screen and (max-width: 350px){
    .projects .projectContainer .project .projectDesc .photo {
        height: 250px;
    }
}


