.projects {
    .active-tags {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        color: #fff;
        cursor: pointer;
        margin-bottom: 1rem;
    }
    .search-tags-container {
        position: relative;
        display: flex;
        input, button {
            position: relative;
            color: black;
        }
        .addTag {
            padding: .25rem;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        }
        .search {
            background-color: #fff;
            position: absolute;
            top: 57px;
            left: .5px;
            width: 80%;
            height: auto;
            z-index: 1;
            border-top-right-radius: .25rem;
            border-bottom-left-radius: .25rem;
            border-bottom-right-radius: .25rem;
            background-color: rgb(21, 32, 41);
            box-shadow: 0 4px 30px rgba(255, 255, 255, 0.1);
            // border: 1px solid rgba(255, 255, 255, 0.597);
            
            .tags{
                display: flex;
                flex-wrap: wrap;
                
                p{
                    transition: .12s ease-in-out;
                    color: inherit; 
                    opacity: .65;
                    &:hover,&.active {
                        opacity: 1;
                        cursor: pointer;
                    }
                    
                }
            }
            
        }
    }

    .projectContainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        row-gap: 1.5rem;
        column-gap: 1.5rem;
        margin-bottom: 4rem;
        .project {
            transform: perspective(800px) rotateY(25deg) scale(0.9) rotateX(10deg);
            transition: 0.3s ease all;
            border-radius: 2rem;
            &:hover {
                transform: perspective(800px) rotateY(0deg) translateY(-5px)
                rotateX(0deg) scale(1);
                opacity: 1;
            }
            .projectDesc {
                height: 100%;
                overflow: hidden;
                display: block;
                text-decoration: none;
                transition: .2s ease-out;
                &:hover {
                    border: 1px solid rgb(255, 255, 255);
                    
                }
                .description {
                    padding: 1rem;
                    h2 {
                        font-size: 2rem;
                    }
                    p{
                        font-family: 'Roboto', sans-serif;
                        font-size: 1.2rem;
                    }
                }
                .photo {
                    height: 350px;
                    .img-container {
                        width: 100%;
                        height: 100%;
                        img {
                            object-fit: cover;
                            max-height: 100%;
                            width: 100%;
                            min-height: 100%;
                        }
                    }
                }
                .tags {
                    padding: 0 1rem 1rem;
                    font-family: "Roboto", sans-serif;
                    p {
                        font-size: .85rem;

                    }
                    .my-project {
                        img {
                            filter: invert(77%) sepia(74%) saturate(962%) hue-rotate(358deg) brightness(103%) contrast(101%) !important;
                        }
                    }
                    img {
                        width: 12px;
                    }
                }
            }
        }
    }
}



@media screen and (max-width: 1024px){
    .projects {
        .projectContainer {
            grid-template-columns: 1fr 1fr;
            .project {
                .projectDesc {
                   
                    .description {
                        
                        h2 {
                            
                        }
                        p{
                            
                        }
                    }
                    .photo {
                        
                        .link {
                            
                            img {
                                
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .projects {
        .projectContainer {
            grid-template-columns: 100%;
            .project {
                height: auto;
                .projectDesc {
                    height: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 501px){
    .photo {
        height: 300px;
    }
}

@media screen and (max-width: 350px){
    .projects .projectContainer .project .projectDesc .photo {
        height: 250px;
    }
}


