.skillset {

    .st {
        .tables {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            row-gap: 1rem;
            .skill{
                text-align: center;
                min-height: 50px;
                p {
                    font-size: 1.5rem;
                }
            }
            .descContainer {
                display: flex;
                flex-direction: column;
            }
            .widthChanger {
                transition: .6s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                position: relative;
                border-radius: .75rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                .arrowContainer {
                    width: 20px;
                    position: absolute;
                    top: 0;
                    height: 50px;
                    right: 5%;
                    display: flex;
                    align-items: center;
                    img {
                        transition: .12s cubic-bezier(0.250, 0.460, 0.450, 0.940);
                        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(214deg) brightness(104%) contrast(104%);
                        max-width: 100%;
                        max-height: 100%;
                        &.open {
                            top: 0;
                            transform: rotate(180deg);
                        }
                    }
                }
                .desc {
                   transition: .3s ease;
                   width: 100%;
                   ul {
                    li{
                        font-size: 1.4rem;
                        font-weight: 300;
                    }
                   }
                }
            } 
            .html {
                width: 95%;
                display: flex;
                justify-content: flex-start;
                .widthChanger {
                    background-color: #DD4B25;
                }   
            }
            .css {
                width: 90%;
                display: flex;
                justify-content: flex-start;
                cursor: pointer;
                .widthChanger {
                    background-color: #2449D8;
                }
            }
            .js {
                width: 85%;
                display: flex;
                justify-content: flex-start;
                .widthChanger { background-color: #E4CF4C;}
               
            }
            .react {
                cursor: pointer;
                width: 60%;
                display: flex;
                justify-content: flex-start;
                .widthChanger {
                    background-color: #46CAF2;
                }
                
            }
            .api {
                cursor: pointer;
                width: 40%;
                display: flex;
                justify-content: flex-start;
                .widthChanger {background-color: #7EAF0F;}
                
            }
            .node {
                width: 20%;
                display: flex;
                justify-content: flex-start;
                .widthChanger {background-color: #7EAF0F;}
            }
            .graph {
                width: 30%;
                display: flex;
                justify-content: flex-start;
                cursor: pointer;
                span {
                    font-size: 1rem;
                }
                .widthChanger {background-color: #D932A2;}
            }
            .wp {
                width: 30%;
                display: flex;
                justify-content: flex-start;
                .widthChanger {background-color: #1F6F93;}
                
            }
            .tpl {
                width: 25%;
                display: flex;
                justify-content: flex-start;
                .widthChanger {background-color: #EBB833;}
                
            }
            .ps {
                width: 40%;
                display: flex;
                justify-content: flex-start;
                .widthChanger {background-color: #281143;}
                
            }
            .sql {
                width: 35%;
                display: flex;
                justify-content: flex-start;
                
                .widthChanger {
                    background: rgb(0,97,138);
                    background: linear-gradient(90deg, rgba(0,97,138,1) 16%, rgba(228,142,0,1) 70%);
                }
            }
            .php {
                width: 10%;
                display: flex;
                justify-content: flex-start;
                .widthChanger {
                    background-color: #777BB3;
                }
            }
            .others {
                width: 50%;
                display: flex;
                justify-content: flex-start;
                .widthChanger {
                    background: rgb(105,105,105);
                    background: linear-gradient(90deg, rgba(105,105,105,1) 16%, rgba(197,197,197,1) 70%);   
                }
                
            }
        }
    }
}

@media screen and (max-width: 501px) {
    .skill {
        overflow: hidden;
    }
}